<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="cancel();" slot="start"  expand="block" fill="clear" shape="round">
      cerrar
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-row>
  <ion-col size="12" class="ion-align-items-center"><h1>{{movie!.show!.name}}</h1></ion-col>
  <ion-col size="12"  style="width: 100%;text-align: center;">
    <img  [src]="movie!.show!.image!.medium">
  </ion-col>
  <ion-col size="12">
    {{movie!.show!.summary}}
  </ion-col>
  <ion-col size="6">
    <h4>Estreno</h4>
    <ion-label>{{movie!.show!.premiered}}</ion-label>
  </ion-col>
  <ion-col size="6">
    <h4>Estado</h4>
    <ion-label>{{movie!.show!.status}}</ion-label>
  </ion-col>
 </ion-row>
</ion-content>
