<ion-header >
  <ion-toolbar style="height: 100px;" color="light">
    <ion-searchbar (ionInput)="updateFilter($event)"  style="padding-top: 30px;" placeholder="Filtrar Shows"    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content >
 <ion-list>
  <ion-item *ngFor="let movie of movies | filtro:filter" (click)="showModal(movie)">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{movie.show.language}}</ion-card-subtitle>
        <ion-card-title>{{movie.show.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img class="movie-image" [src]="movie!.show!.image!.medium">
      </ion-card-content>
    </ion-card>
  </ion-item>
 </ion-list>
</ion-content>
