ion-content {
    --padding-top: 50%;
    --padding-start: 10%;
    --padding-end: 10%;
  
     --background: url('https://e0.pxfuel.com/wallpapers/261/378/desktop-wallpaper-mountain-hq-vertical-mountain.jpg') 0 0/100% 100% no-repeat;
  
     .title{
        font-size: larger;
        font-weight: 700;
      }
    .registro-text{
        padding-top: 30px;
        background-color: rgba(0, 0, 0, 0.75);
        min-height: 100px;
    }

    .errors{
        font-size: small;
        color: #fff;
        background: var(--ion-color-danger);
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .registration-field{
        font-weight: 600;
      }
  
  }
