<ion-content>
  <div *ngIf="loginScreen">
    <ion-row class="logo" style="text-align: center;">
      <ion-col size="12">
        <ion-label class="title">Login testApp</ion-label>
      </ion-col>
    </ion-row>
  
    <form (ngSubmit)="login()" [formGroup]="credentials">
      <div class="input-group">
        <ion-item>
          <ion-input type="email" placeholder="Correo Electrónico" formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="(email?.dirty || email?.touched) && email?.errors" class="errors">
          <span *ngIf="email?.errors?.['required']">Es necesario un e-mail</span>
          <span *ngIf="email?.errors?.['email']">El e-mail no es valido</span>
        </div>
        <ion-item>
          <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
        </ion-item>
        <div *ngIf="(password?.dirty || password?.touched) && password?.errors" class="errors">
          <span *ngIf="password?.errors?.['required']">La contraseña es obligatoria</span>
        </div>
      </div>
  
      <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Iniciar Sesión</ion-button>
  <ion-row>
    <ion-col size="12" class="ion-text-center registro-text">
      ¿Aún no estas registrado?
      <ion-button (click)="changeView()"  expand="block" fill="clear" shape="round">
        Registrate aqui
      </ion-button>
    </ion-col>
  </ion-row>
  
    </form>
    </div>



<!-- ******************* INTERFAZ DE REGISTRO ******************************* -->
    <div *ngIf="!loginScreen">
      <ion-row class="logo" style="text-align: center;">
        <ion-col size="12">
          <ion-label class="title">Registro de Usuario, ingrese los datos necesarios</ion-label>
        </ion-col>
      </ion-row>
    
      <form (ngSubmit)="registerNewUser()" [formGroup]="registrationInfo">
        <div class="input-group">
          <ion-label class="registration-field">Nombre Completo</ion-label>
          <ion-item>
            <ion-input type="text" placeholder="Nombre Completo" formControlName="name"></ion-input>
          </ion-item>
          <div *ngIf="(registrationName?.dirty || registrationName?.touched) && registrationName?.errors" class="errors">
            <span *ngIf="registrationName?.errors?.['required']">El nombre es obligatorio</span>
          </div>
          <ion-label class="registration-field">Email Usuario</ion-label>
          <ion-item>
            <ion-input type="email" placeholder="Correo Electrónico" formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="(registrationEmail?.dirty || registrationEmail?.touched) && registrationEmail?.errors" class="errors">
            <span *ngIf="registrationEmail?.errors?.['required']">Es necesario un e-mail</span>
            <span *ngIf="registrationEmail?.errors?.['email']">El e-mail no es valido</span>
          </div>
          <ion-label class="registration-field">Password</ion-label>

          <ion-item>
            <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
          </ion-item>
          <div *ngIf="(registrationPassword?.dirty || registrationPassword?.touched) && registrationPassword?.errors" class="errors">
            <span *ngIf="registrationPassword?.errors?.['required']">La contraseña es obligatoria</span>
          </div>
        </div>
    
        <ion-button  type="submit" expand="block" [disabled]="!registrationInfo.valid">Registrar Usuario</ion-button>
    <ion-row>
      <ion-col size="12" class="ion-text-center registro-text">
        <ion-button (click)="changeView()"  expand="block" fill="clear" shape="round">
          Regresar al Login
        </ion-button>
      </ion-col>
    </ion-row>
    
      </form>
      </div>
</ion-content>
